import * as React from 'react';

import styles from './{{pascalCase name}}.styles';
import { defaultProps, propTypes } from './{{pascalCase name}}.shape'

const {{pascalCase name}} = () => {
  // Hooks

  // State: global

  // State: local

  // Effects

  // Logic

  // Render
  return (
    <div className={styles.root} data-testid="{{pascalCase name}}">
    </div>
  );
};

{{pascalCase name}}.defaultProps =  { ...defaultProps };
{{pascalCase name}}.propTypes = { ...propTypes };

export default {{pascalCase name}};
